asgiref==3.10.0
boto3==1.43.83
botocore==1.43.83
certifi==2026.7.22
charset-normalizer==3.4.9
cloudinary==1.45.0
Django==5.2.7
django-cloudinary-storage==0.3.0
django-storages==1.14.6
djangorestframework==3.16.1
gunicorn==26.0.0
idna==3.18
jmespath==1.1.0
packaging==26.2
pillow==12.1.0
python-dateutil==2.9.0.post0
requests==2.34.2
s3transfer==0.19.2
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.7.0
whitenoise==6.12.0
